{% extends 'base.html.twig' %}
{% block body %}
    <h2>Accatastamenti e riconfinazioni</h2>

    <p>Clicca sulle anteprime per visualizzare alcuni esempi di accatastamenti e riconfinazioni</p>

    <a href="{{ asset('Es_accatastamento_Elaborato Planimetrico.pdf', 'images') }}" title="Accatastamento Elaborato Planimetrico">
        <img src="{{ asset('accatastamento-elaborato-planimetrico.jpg', 'images') }}" class="bordered" title="Accatastamento Elaborato Planimetrico" alt="Accatastamento Elaborato Planimetrico" /></a>
    <a href="{{ asset('Es_accatastamento_Planimetria.pdf', 'images') }}" title="Accatastamento Planimetria">
        <img src="{{ asset('accatastamento-planimetria.jpg', 'images') }}" class="bordered" title="Accatastamento Planimetria" alt="Accatastamento Planimetria" /></a>
    <a href="{{ asset('Es_inserimento_catastale.pdf', 'images') }}" title="Inserimento catastale">
        <img src="{{ asset('inserimento-catastale.jpg', 'images') }}" class="bordered" title="Inserimento catastale" alt="Inserimento catastale" /></a>

    <h2>Servizi</h2>

    <ul>
        {% for key,value in app.config.satgeoservices %}
            <li>
                <div class="feature">
                    <a href="{{ app.url_generator.generate('services',{"page":value.binding_path}) }}" title="{{ value.plural }}">{{ value.plural }}</a>
                    <div class="show-feature"><img src="{{ asset(value.image, 'images') }}" alt="{{ value.menu }}" title="{{ value.menu }}">
                        <br/>progettazione edile
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}