<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} - S.A.T. | Studio Associato di Topografia</title>
    <meta name="description" content="{{ description }} - S.A.T. | Studio Associato di Topografia">
    <link href="{{ asset('styles.css', 'css') }}" type="text/css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    {% block scripts %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <nav class="navbar navbar-static-top">
        <a class="navbar-brand" href="{{ app.url_generator.generate('pages',{"page":"home"}) }}"
           title="{{ title }} - S.A.T. | Studio Associato di Topografia">SAT</a>
        <ul class="nav navbar-nav">
            {% for key,value in app.config.satgeoroutes %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ app.url_generator.generate('pages',{"page":value.binding_path}) }}" title="{{ value.description }}">{{ value.menu }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <!-- BEGIN BANNER -->
    <div id="banner">
        <div id="quote">
            <h1>Studio Associato di Topografia</h1>
            <h2>di Salgaro geom. Adriano & Gonzato geom. Luigi</h2>
        </div>
        <div id="headline">
            <h3>rilievo topografico con gps, rilievo celerimetrico, rilievo di poligonali, rilievo laser scanner 3D, frazionamento, inserimento in mappa, riconfinazione, tracciamento, piano quotato</h3>
        </div>
    </div>
    <!-- END BANNER -->
</div>

<div id="content" class="container" >
    <div class="row">
        <div id="left_col" class="col-md-8">{% block body %}
            {% endblock body %}</div>
        <div id="right_col" class="col-md-4">
            <h2>Cerca nel sito</h2>

            <div id="search">
                <form action="search.php" method="post">
                    <fieldset>
                        <input id="search_input" value="Scrivi qui il testo da cercare" name="whatdoreplace"
                               type="text"/>
                        <input id="search_submit" type="submit" value="GO!" name="B1"/>
                    </fieldset>
                </form>
            </div>

            <div id="news">
                <h2>In evidenza</h2>
                <ul>
                    <li><a href="rilievi-topografici.php" title="Rilievi topografici"><span class="title">Rilievi topografici</span><span
                                    class="author">Rilevazioni topografiche con sistema GPS, Rilevazioni celerimetriche</span></span>
                        </a></li>
                    <li><a href="rilievi-laser-scanner-3d.php" title="Rilievi laser scanner 3d"><span class="title">Rilievi laser scanner 3d</span><span
                                    class="author">Scansioni laser con Leica ScanStation C10 per modelli 3D</span></span>
                        </a></li>
                    <li><a href="servizi.php" title="Attivit&agrave; dello studio"><span class="title">Attivit&agrave;
                                dello studio</span><span class="author">Piani quotati - Frazionamenti e tracciamenti - Accatastamenti e riconfinazioni - Progettazione edile</span></span>
                        </a></li>
                    <li><a href="contatti.php" title="Richiedi un preventivo per rilievi Topografici"><span
                                    class="title">Richiedi un preventivo</span><span class="author">Rilevazioni topografiche con tecnologie avanzate</span></span>
                        </a></li>
                </ul>

            </div>
        </div>

    </div>
</div>

<!-- BEGIN FOOTER -->
<div id="footer" class="container">
    <div class="clearfix">
    <ul class="list-inline">
        {% for key,value in app.config.satgeoroutes %}
            <li>
                <a class="nav-link" href="{{ app.url_generator.generate('pages',{"page":value.binding_path}) }}" title="{{ value.description }}">{{ value.menu }}</a>
            </li>
        {% endfor %}
        <li><a class="nav-link" href="{{ app.url_generator.generate('news') }}" title="Notizie legate al laser scanner 3d Leica ScanStation C10">News</a></li>
        <li><a class="nav-link" href="https://www.facebook.com/pages/SAT-Studio-Associato-di-Topografia/171384416273640" class="blank" title="Rilevazioni con laserscanner 3D"><img src="{{ asset('Facebook-Icon.png', 'images') }}"  style="padding-top: 4px;" alt="Rilevazioni con laserscanner 3D" title="Rilevazioni con laserscanner 3D" /></a></li>
        <li><a class="nav-link" href="https://plus.google.com/u/0/b/113648535618383673909/" title="rilievo con laserscanner" class="blank"><img src="{{ asset('googleplus.png', 'images') }}" style="padding-top: 6px;" alt="Rilievo laserscanner 3D" title="Rilievo laserscanner 3D" /></a></li>
    </ul>
    </div>
    <div class="clearfix">
        <p>&copy; {{ "now"|date("Y") }} S.A.T. - Studio Associato di Topografia. All rights reserved. <span class="hosting">Provided by <a href="http://www.emanuelrighetto.it" title="Creazione Siti Internet Verona">Creazione Siti Internet Verona</a></span></p>
    </div>
</div>
<!-- END FOOTER -->

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"
        integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD"
        crossorigin="anonymous"></script>
<script src="{{ asset('scripts.js', 'js') }}" type="text/javascript"></script>
</body>
</html>
