<h2>Servizi</h2>

<ul>
    {% for key,value in satgeoexpertises.getItems %}
        <li>
            <div class="feature">
                <a href="{{ path(value.binding_path) }}" title="{{ value.plural }}">{{ value.plural }}</a>
                <div class="show-feature"><img src="{{ asset('build/static/' ~ value.image) }}" alt="{{ value.menu }}" title="{{ value.menu }}">
                    <br/>{{ value.title }}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>