<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} - S.A.T. | Studio Associato di Topografia</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    {% block head_scripts %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <!-- BEGIN BANNER -->
    <header id="header">
        <div id="headline">
            <h1>Studio Associato di Topografia</h1>
            <h2>di Salgaro geom. Adriano & Gonzato geom. Luigi</h2>
        </div>
        <div id="menu">
            {{ navigation.main|raw }}
        </div>
    </header>
    <!-- END BANNER -->
    <main id="content">
        <div class="row">
            <div class="col">
                {% block body %}
                {% endblock body %}
            </div>
        </div>
    </main>
    <!-- BEGIN FOOTER -->
    <footer id="footer" class="container">
        <div class="row">
            <div class="col">
                <p>&copy; {{ "now"|date("Y") }} S.A.T. - Studio Associato di Topografia. All rights reserved. <span class="hosting">Provided by <a href="http://www.emanuelrighetto.it" title="Creazione Siti Internet Verona">Creazione Siti Internet Verona</a></span></p>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
</div>

<!-- Bootstrap core JavaScript ================================================== -->
{% block footer_scripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
